* {box-sizing: border-box;}

body {
    background-color:hsl(27, 83%, 96%);
    font-family: 'Quicksand', sans-serif;
    color: hsl(34, 57%, 20%);
}

header {margin: auto; text-align: center;}
h1 {margin: 15px auto;}
h2 {margin: 0 0 30px 0;}

.game {
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 70%;
    margin: 0 auto;
    border: 3px ridge hsl(34, 57%, 50%);
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    background-color:hsl(27, 83%, 93%);
}

.board {grid-column: 1; max-width: 540px;}
.playerControls {grid-column: 2; margin: 0 30px; text-align: center;}
.playerControls p {font-size: 1.2em;}

.boardRow {margin: 0 auto;}

.square, .letter, .letSQ, .lettersRow span {width: 2rem; height: 2rem;} 

.square {    
    display: inline-block;
    position:static;
    margin: 0 2px;
    background-color: hsl(34, 57%, 70%);
    border-top: 2px solid hsl(34, 57%, 65%);
    border-right: 2px solid hsl(34, 50%, 50%);
    border-bottom: 2px solid hsl(34, 50%, 50%);
    border-left: 2px solid hsl(34, 57%, 65%);
}

.square:hover {
    background-color: hsl(34, 57%, 60%);
    border-top: 2px solid hsl(34, 57%, 50%);
    border-left: 2px solid hsl(34, 57%, 50%);
}

.boardRow {display: flex; padding: 2px; align-content: flex-start;}
.boardRow:nth-of-type(8) span {background-color: hsl(34, 57%, 60%);}
.boardRow span:nth-of-type(8) {background-color: hsl(34, 57%, 60%);}
.boardRow:nth-of-type(8) span:hover {background-color: hsl(34, 57%, 50%);}
.boardRow span:nth-of-type(8):hover {background-color: hsl(34, 57%, 50%);}

.lettersRow {margin-top: 0.8rem; display: flex; padding: 2px; align-content: flex-start; justify-content: space-evenly;}

.lettersRow span {display: inline-block;}

.letter {        
    background-color: hsl(49, 97%, 80%);
    border-top: 2px solid hsl(49, 80%, 75%);
    border-right: 2px solid hsl(49, 80%, 65%);
    border-bottom: 2px solid hsl(49, 80%, 46%);
    border-left: 2px solid hsl(49, 80%, 75%);
    text-transform: uppercase;
}
.letter:hover {background-color: hsl(49, 97%, 65%); cursor: move;}

.points {font-size: 0.8em; float: right;}

#cancel, #send {width: 3rem; height: 2rem;}

#cancel {    
    background-color: hsl(0, 71%, 58%);
    border-top: 2px solid hsl(0, 71%, 53%);
    border-right: 2px solid hsl(0, 71%, 43%);
    border-bottom: 2px solid hsl(0, 71%, 43%);
    border-left: 2px solid hsl(0, 71%, 53%);
}
#cancel:hover {background-color: hsl(0, 71%, 48%); cursor: pointer;}

#send {
    background-color: hsl(120, 39%, 55%);
    border-top: 2px solid hsl(120, 39%, 50%);
    border-right: 2px solid hsl(120, 39%, 40%);
    border-bottom: 2px solid hsl(120, 39%, 40%);
    border-left: 2px solid hsl(120, 39%, 50%);
}
#send:hover {background-color: hsl(120, 39%, 45%); cursor: pointer;}

#newLetters {
    width: 7rem;
    height: 2rem;
    font-size: 0.75em;
    background-color: hsl(29, 71%, 59%);
    border-top: 2px solid hsl(29, 71%, 50%);
    border-right: 2px solid hsl(29, 71%, 40%);
    border-bottom: 2px solid hsl(29, 71%, 40%);
    border-left: 2px solid hsl(29, 71%, 50%);
}
#newLetters:hover {background-color: hsl(29, 71%, 50%); cursor: pointer;}
#newLetters:disabled {background-color: hsl(29, 71%, 60%); color: hsl(34, 57%, 35%);}
#newLetters:disabled:hover {background-color: hsl(29, 71%, 60%); cursor: initial;}

.visible {visibility: visible;}
.hidden {display: none;}
.noBorder {border: none;}
.noBorder:hover {border: none;}
.placed {background-color: hsl(49, 97%, 70%);}
.placed:hover {cursor: auto; background-color: hsl(49, 97%, 70%);}